HTTP_PORT=80

NEXT_PUBLIC_API_URL=http://YOUR_PUBLIC_HOST
NEXT_PUBLIC_API_BASE_CLIENT_HEADER_CODE=CT04P
NEXT_PUBLIC_APP_NAME=My Blog
NEXT_PUBLIC_API_TIMEOUT=10000
NEXT_PUBLIC_DEBUG_MODE=false
NEXT_PUBLIC_SITE_URL=http://YOUR_PUBLIC_HOST

DB_DATABASE=blog
DB_USERNAME=blog
DB_PASSWORD=CHANGE_ME
MARIADB_ROOT_PASSWORD=CHANGE_ME
